<div>
    <h3 class="page-h">Angular app toolkit. <small><a href="https://github.com/george-i/angular-lineman-startapp">Github page</a></small> </h3>
    <h3><small>The toolkit provides the necessary elements to help starting an Angular JS based project faster.</small></h3>


    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-briefcase"></i> Package content:</div>
        <div class="panel-body">
            <div class="col-sm-4">
                <dl>
                    <dt>Project development</dt>
                    <dd><a href="http://linemanjs.com/">Lineman</a></dd>
                    <dd><a href="http://bower.io/">Bower</a></dd>
                </dl>
            </div>
            <div class="col-sm-4">
                <dl>
                    <dt>Frameworks</dt>
                    <dd><a href="https://angularjs.org/">AngularJS</a></dd>
                    <dd><a href="http://jquery.com/">jQuery</a></dd>
                    <dd><a href="http://getbootstrap.com/">Twitter Bootstrap</a></dd>
                    <dd><a href="http://fontawesome.io/">Font Awesome</a></dd>
                </dl>
            </div>
            <div class="col-sm-4">
                <dl>
                    <dt>Plugins & modules</dt>
                    <dd><a href="https://github.com/angular-ui/ui-router">AngularUI Router</a></dd>
                    <dd><a href="https://github.com/linemanjs/lineman-angular-template">Lineman Angular Template</a></dd>
                </dl>
            </div>
        </div>
    </div>
</div>
