<div>
    <h4 class="page-h">The story of the modern alchemist</h4>
    <div class="media">
        <div class="pull-left" >
            <img class="media-object image-rounded" src="img/oldad.jpg" alt="Old perfume ad">
        </div>
        <div class="media-body">
            <strong class="media-heading">Old perfume ad</strong>
            <br/>
            <span>Donec blandit arcu est, rhoncus sodales eros fringilla non. Nunc purus augue, varius suscipit auctor ac, facilisis at turpis. Suspendisse bibendum augue vel pellentesque suscipit. Phasellus in risus sit amet ante porttitor consequat. Phasellus id feugiat nisi. Maecenas vitae accumsan est, sed laoreet velit. Fusce at ante ac mauris mattis hendrerit at in nibh. Maecenas libero mi, blandit quis elementum quis, congue vestibulum neque. Pellentesque nec risus ante.</span>
        </div>
    </div>
</div>